/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    margin: 0%;
    padding:0%;
    background-color: lightblue;
    background-image: url("assets/burger-friends.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    background-color: #0fb9b1;
    height: 60px;
    width: 100%;
}

h3{
    padding-left: 20px;
}

div {
    padding: 10px;
    padding-left: 10px;
}

.hidden {
    display: none!important;
  }

.two-boxes {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 50px;
    height: 500px;
    border: solid purple;

}

.What-are-you-Looking-For {
    display: grid;
    background-color: rgba(225, 225, 225, .9);
    border: solid red;
    align-content: center;
    padding: 20px;
    height: 350px;
    width: 400px;
}

h2 {
    padding-top: 40px;
    padding-left: 35px;
}

.lets-cook-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    /* margin-bottom: ; */
    height: 40px;
    width: 200px;
    background-color: #0fb9b1;
    border-radius: 5px;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* padding-right: 100px; */
    /* padding-right: 300px; */
}

.You-should-make {
    background-color: rgba(225, 225, 225, .9);
    display: grid;
    align-content: space-evenly;
    justify-content: center;
    border: solid green;
    padding: 25px;
    height: 350px;
    width: 400px;
}

.should-make-suggestion{
    position: fixed;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 100px;
}
.cookpot {
    height: 120px;
    width: 120px; 
} 
